.column { /* переименовал в column, не забудь переименовать выше, где class="row" */

    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 0.5em;
}

.block {
    border: 1px solid black;
    margin: 0.25em;
    padding: 0.5em;
}

.column{
    background-color: yellow;
    flex-basis: 200px;
    height: 200px;

}