.eyes-color{
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(248, 246, 255) 100%);
    background-attachment: fixed;
}


[class^=col] { 
    padding: 2.5em;
    background-color: rgb(255, 241, 177);
    border: 1px solid rgba(86,61,124,.2);
}